.navigation {
    display: flex;
    justify-content: space-evenly;

}

.link {
    border: 1px solid tomato;
    border-radius: 10px;

    padding: 5px 10px;

    text-decoration: none;
    color: tomato;

    &:hover {
        background-color: tomato;
        color: white;
    }
}
