.numberLED {
    position: relative;
    display: flex;
    position: relative;

    border: 1px solid black;

    width: 200px;
    height: 200px;
}

.ledLine {
    position:absolute;
    margin-right: 10px;

    &--on {
        background-color: tomato;
    }
}