.numberLED {
    position: relative;
    display: flex;

    position: relative;

    width: 20px;
    height: 40px;
}

.ledLine {
    position:absolute;

    &--on {
        background-color: tomato;
    }
}